# Ignore Python stuff
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Ignore virtual environment
env/

# Ignore collected static files
staticfiles/

# Ignore editor/IDE files
.vscode/
.idea/

# Optional: Ignore environment variables
.env
